PyGithub==2.5.0
uvicorn==0.34.0
fastapi==0.115.6
cryptography==44.0.0
attrs==23.1.0
distro==1.9.0
Pillow==10.1.0
filelock==3.13.1
PyJWT==2.10.1
Deprecated==1.2.15
simplejson==3.19.3
pycparser==2.22
wrapt==1.17.1